Repository szhu/website-2024: changes, and which lint-staged commands are due for each by the changed paths.
All: bun run stylelint, bun run prettier --write, bun run eslint, sh -c 'git stash push --message pre-tsc --keep-index --include-untracked', sh -c 'tsc --pretty; STATUS=$?; git stash pop --quiet; exit $STATUS'

WIP: Add Daily Californian project page (right-wide exemplar)
  src/app/[categoryId]/dailycal/image-17850575dc7087eb.ico
  src/app/[categoryId]/dailycal/image-6b9ee1b51afdab3a.png
  src/app/[categoryId]/dailycal/image-7df1aad9ebf30437.png
  src/app/[categoryId]/dailycal/image-9747fe15bbfa967c.png
  src/app/[categoryId]/dailycal/image-a5878a11bb0293a1.png
  src/app/[categoryId]/dailycal/image-fd2b915a9dac1c56.png
  src/app/[categoryId]/dailycal/page.tsx
Due: bun run stylelint, bun run prettier --write, bun run eslint, sh -c 'git stash push --message pre-tsc --keep-index --include-untracked', sh -c 'tsc --pretty; STATUS=$?; git stash pop --quiet; exit $STATUS'

Gitignore .jj
  .gitignore
Due: none

Use modern Bun
  .vscode/settings.json
  bun.lock
  bunfig.toml
  yarn.lock
Due: bun run prettier --write

Route to internal item page when it exists
  src/listings/ProjectsView.tsx
  src/listings/WorkView.tsx
  src/listings/hasItemPage.tsx
Due: bun run stylelint, bun run prettier --write, bun run eslint, sh -c 'git stash push --message pre-tsc --keep-index --include-untracked', sh -c 'tsc --pretty; STATUS=$?; git stash pop --quiet; exit $STATUS'

PageLink: Auto-handle absolute URLs
  src/navigation/PageLink.tsx
Due: bun run stylelint, bun run prettier --write, bun run eslint, sh -c 'git stash push --message pre-tsc --keep-index --include-untracked', sh -c 'tsc --pretty; STATUS=$?; git stash pop --quiet; exit $STATUS'

Bump safe deps to latest
  bun.lock
  package.json
  src/listings/ProjectsView.tsx
Due: bun run stylelint, bun run prettier --write, bun run eslint, sh -c 'git stash push --message pre-tsc --keep-index --include-untracked', sh -c 'tsc --pretty; STATUS=$?; git stash pop --quiet; exit $STATUS'

Remove unused styled-components
  bun.lock
  next.config.mjs
  package.json
  src/app/layout.tsx
  src/extends/styled-components/StyledComponentsRegistry.tsx
Due: bun run stylelint, bun run prettier --write, bun run eslint, sh -c 'git stash push --message pre-tsc --keep-index --include-untracked', sh -c 'tsc --pretty; STATUS=$?; git stash pop --quiet; exit $STATUS'

Upgrade zod 3 -> 4
  bun.lock
  package.json
  src/listings/ProjectsData.generate.tsx
Due: bun run stylelint, bun run prettier --write, bun run eslint, sh -c 'git stash push --message pre-tsc --keep-index --include-untracked', sh -c 'tsc --pretty; STATUS=$?; git stash pop --quiet; exit $STATUS'

Upgrade React 18 -> 19
  bun.lock
  package.json
  src/app/TwoColRouter.tsx
Due: bun run stylelint, bun run prettier --write, bun run eslint, sh -c 'git stash push --message pre-tsc --keep-index --include-untracked', sh -c 'tsc --pretty; STATUS=$?; git stash pop --quiet; exit $STATUS'

Upgrade Next 14 -> 16
  bun.lock
  package.json
  tsconfig.json
Due: bun run prettier --write

Upgrade TypeScript 5 -> 6
  bun.lock
  globals.d.ts
  package.json
  src/debug/LocalSaving.tsx
Due: bun run stylelint, bun run prettier --write, bun run eslint, sh -c 'git stash push --message pre-tsc --keep-index --include-untracked', sh -c 'tsc --pretty; STATUS=$?; git stash pop --quiet; exit $STATUS'

Fix ProjectsData.generate for papaparse 5.5 double-call
  src/listings/ProjectsData.generate.tsx
Due: bun run stylelint, bun run prettier --write, bun run eslint, sh -c 'git stash push --message pre-tsc --keep-index --include-untracked', sh -c 'tsc --pretty; STATUS=$?; git stash pop --quiet; exit $STATUS'

Path conditions:
  bun run stylelint: any of: *.{css,tsx}
  bun run prettier --write: any of: *.{js,jsx,mjs,ts,tsx,md,json}
  bun run eslint: any of: *.{js,jsx,mjs,ts,tsx}
  sh -c 'git stash push --message pre-tsc --keep-index --include-untracked': any of: *.{ts,tsx}
  sh -c 'tsc --pretty; STATUS=$?; git stash pop --quiet; exit $STATUS': any of: *.{ts,tsx}
